/* MOBILE FIRST*/
header {
    height: 80px;

    position: sticky;
    top: 0;
    background-color: white;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}








/*FULL SCREEN/*